/*******Police *****/

@font-face {
    font-family:regular;
    
    src: url(font/Philosopher-BoldItalic.ttf);
}

/*********Onbrage ********/
@mixin borderShadoow {  // Pour l'apeller --> @include borderShadoow; 
  -webkit-box-shadow: -2px 4px 22px 11px rgba(0,0,0,0.34);
        -moz-box-shadow: -2px 4px 22px 11px rgba(0,0,0,0.34);
        box-shadow: -2px 4px 22px 11px rgba(0,0,0,0.34);
}